#main {
      text-align: center;
      font-family: "Lucida Console", monospace;
}

h1, h2, p, a {
      color: white;      
}

body {
      background-color: black;
}

ul {
  list-style-type: none;

}
